{{ include('common/views/top.html') }}


<div id="container">
    <h1>Welcome to CodeIgniter!123</h1>

    <div>
        <?php echo modules::run('welcome/welcome/runTest', $params, $...); ?>

    </div>

    <div id="body">
        <p>The page you are looking at is being generated dynamically by CodeIgniter.</p>
        <h1>{{ name.article}}</h1>
        <h1>{{ test }}</h1>
        <p>If you would like to edit this page you'll find it located at:</p>
        <code>application/views/welcome_message.php</code>

        <p>The corresponding controller for this page is found at:</p>
        <code>application/controllers/Welcome.php</code>

        <p>If you are exploring CodeIgniter for the very first time, you should start by reading the <a
                href="user_guide/">User Guide</a>.</p>


    </div>
</div>
{{ include('common/views/bottom.html') }}