{{ include('common/views/top.html') }}
<h1>
    <a href="add">add</a>
</h1>
<h1>
    <a href="../user/logout">logout</a>
</h1>
{% for article in data.data %}
<div id="container">
    <h1> {{ article.id }}---{{ article.article }}</h1>

    <a href="info?id={{ article.id }}">more</a>
    <a href="update?id={{ article.id }}">update</a>
    <a href="delete?id={{ article.id }}">delete</a>
</div>
{% endfor %}
{% autoescape false %}
{{ data.page }}
{% endautoescape %}
{{ include('common/views/bottom.html') }}
